/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');

@import url(reset.css);

* {
    font-family: 'Raleway', 'sans serif';
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header""main""footer";
    grid-row-gap: 1.1%;
}

.box-son {
    width: 100%;
    min-height: 100px;
    /* background: #ccc; */


}

#container header {
    grid-area: header;
    position: sticky;
    height: 160px;
    top: 0;
    z-index: 90;
    /* background-image: linear-gradient(#cfcfcf, #f2f2f2); */
    box-sizing: border-box;
    box-shadow: 1px 5px 50 px rgb(26, 26, 26);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#container .left {
    width: 40%;

}

header .slide-nav ul {
    display: flex;
    gap: 3%;
    margin-left: 20px;
    margin-top: 60px;


}

header .slide-nav ul li {
    list-style: none;
    padding: 10px;
    transition: all 0.3s;
    /* background-color: rgb(182, 182, 182); */
    /* border-radius: 40px; */
}

header .slide-nav ul li:hover {
    opacity: 0.5;
}


#container #logo {
    width: 15%;
    /* background: lightseagreen; */
    /* display: flex; */
    margin: 5px 2.5%;
}

header #logo h1 {
    display: flex;
    width: 150px;
    height: 150px;
    background: url(../img/logo.png) no-repeat center center;
    background-size: 110px;
    margin-left: 45px;
    /* background-color: aqua; */
}


.right nav ul li img {
    width: 30px;
    padding: 0 15px;
    transition: 0.3s;
}

.right nav ul li img:hover {
    opacity: 0.5;
}

#container .right {
    width: 40%;
    /* background: lightgoldenrodyellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#lang-box {
    width: 35px;
    position: relative;
    right: 5px;
    margin: 10px 0px;
}

#lang-box .btn-success {
    position: relative;
    right: 50px;
    position: fixed;
}

.btn-success {
    width: 100px;
    height: 40px;
    background: rgb(27, 27, 27);
    box-shadow: 1px 5px 25px #999;
    border: 1px solid #999;
    border-radius: 23px;
    transition: 0.5s;
    color: white;
}

.btn-success:hover {
    background: #ccc;
    box-shadow: 1px 5px 50px #ccc;
    cursor: pointer;
}

#search-box {
    position: relative;
    right: 5px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgb(27, 27, 27);
    border-radius: 30px;
    box-shadow: 1px 5px 25px #999;

}

#search {
    height: 30px;
    width: 200px;
    /* padding: 5px 15px; */
    border-radius: 23px;
    /* border: 1px solid #000; */
    border: none;
    background: none;
    font-size: 16px;
    color: white;
    width: 0;
    transition: .5s;

}

.search-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgb(27, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;

}


.lupa {
    width: 20px;
    height: 20px;
}

.search-all {
    display: flex;
    flex-direction: column;

}

.cols2 {
    margin-top: 50px;

}

#search-box:hover>#search {
    width: 220px;
}

.btn-success1 {
    display: none;
}




header .nav-ico ul {
    display: flex;
    margin-top: 43px;



}

header .nav-ico ul li {
    list-style-type: none;
    padding: 25px;


}



#container main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.banner {
    height: 500px;
    /* width: 100%; */
    background: #f00;
    margin-bottom: 20px;
    margin-top: -165px;
    background: url(../img/bg3.jfif) no-repeat;
    background-size: 100%;
    background-position: 0 -170px;

}

.category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.category .content {
    width: 31.5%;
    height: 300px;
    /* background: #f00; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;

}

.category .content img {
    width: 150px;
    border-radius: 16px;


}

.category .content .btn-card {
    margin-left: 1px;
    margin-top: -10px;


}

.category .content .btn-card button {
    background-color: none;
    border-radius: 15px;
    color: #555;
    border-color: #fff;
    height: 30px;
    border: none;
    transition: all 0.3s;
    box-shadow: 1px 5px 30px rgb(141, 141, 141);

}

.category .content .btn-card button:hover {
    background-color: rgb(148, 165, 189);
    color: white;
    cursor: pointer;
}



.category .content .card-cont-1 {
    color: #555;
    line-height: 1.5rem;
    text-align: justify;
    margin-left: -50px;
    margin-top: -160px;


}

.category .content .card-cont-2 {
    color: #555;
    line-height: 1.5rem;
    text-align: justify;
    margin-left: -50px;
    margin-top: -160px;
}

.category .content .card-cont-3 {
    color: #555;
    line-height: 1.5rem;
    text-align: justify;
    margin-left: -50px;
    margin-top: -160px;
}

.category .content div {
    width: 50%;
    min-height: 100px;
}



#container footer {
    grid-area: footer;
}










/* Configuração para Smartphone */
@media (min-width: 50px) and (max-width: 450px) {
    body {
        background: rgb(0, 17, 255);
    }
}

/* Configuração para Tablet */
@media (min-width: 451px) and (max-width: 1024px) {
    body {
        background: rgb(0, 255, 55);
    }
}


/* Configuração para Notebook */
@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        background: rgb(214, 0, 132);
    }
}

/* Configuração para Desktop */
@media (min-width: 1281px) {
    body {
        background: none;
    }
}
